<!-- <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <footer class="bg-white">

        <div class="jumbotron">
            <div class="container text-center">
                <h1>User Registration Details</h1>
            </div>

        </div>

        <div class="container">
            <div class="container-fluid">

                <div class=" card-boddy mt-0">
                    <div class="card--header">
                      

                    </div>
                    <form [formGroup]="userdetailsForm">
                        <div class="p-1rem">
                            <div class="row">

                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mt-3 form-group">

                                        <label for="dob" class="form-label-custom">Role Id<span
                                                class="required-star">*</span><span
                                                class="required-star"></span></label> <input type="number" min="1" max="2"                                            class="form-control" id="qw" formControlName="role_id">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mt-3 form-group">
                                        <label for="usr" class=" form-label-custom">First Name <span
                                                class="required-star">*</span></label> <input type="text" placeholder=""
                                            class="form-control" id="we" formControlName="first_name">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mt-3 form-group"> <label for="usr" class=" form-label-custom">Last
                                            Name<span class="required-star">*</span></label>
                                        <input type="text" placeholder="" class="form-control" id="er"
                                            formControlName="last_name">

                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mt-3 form-group"> <label for="usr" class=" form-label-custom">Email
                                            <span class="required-star">*</span></label> <input type="text"
                                            placeholder="" class="form-control" id="rt" formControlName="email">

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mt-3 form-group"> <label for="usr" class=" form-label-custom">Country
                                            Code(eg:+1)
                                            <span class="required-star">*</span></label> <input type="text"
                                            placeholder="" class="form-control" id="ty" formControlName="phone_code">

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mt-3 form-group"> <label for="usr" class=" form-label-custom">Mobile
                                            <span class="required-star">*</span></label> <input type="text"
                                            placeholder="" class="form-control" id="yu" formControlName="phone">

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mt-3 form-group"> <label for="usr" class=" form-label-custom">Password
                                            <span class="required-star">*</span></label> <input type="password"
                                            placeholder="" class="form-control" id="ui" formControlName="password">

                                    </div>
                                </div>

                                


                                <button class="btn btn-light" type="submit" (click)="createUser(userdetailsForm)">Submit</button>
                                
                                    <button class="btn btn-light" type="submit" [routerLink]="['/employee-list']" routerLinkActive="active">User List</button>

                                
                                


                            </div>
                        </div>
                    </form>
                </div>




            </div>
        </div>

        

    </footer>

</body>

</html> -->



