<div class="container padding-bottom-3x mb-2 mt-5">
    <form [formGroup]="forgotpassform" class="form-signin">
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Forgot Password</h1>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">

                <div class="card mt-4">
                    <div class="card-body">
                        <div class="form-group"> <label for="email-for-pass">Enter your email address</label>
                            <input type="text" class="form-control" formControlName="email" id="email-for-pass"
                                required="" [ngClass]="{'is-invalid': submitted && this.forgotpassform.controls.email.errors}">
                                <div *ngIf="submitted && formControls.email.errors?.required" class="text-danger">Email is required
                                </div>
                                <div *ngIf="submitted && formControls.email.errors?.pattern" class="text-danger">please enter valid
                                    email</div>
                            <small class="form-text text-muted">Enter the email address and we'll send an otp to reset
                                your
                                password</small>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success" type="submit" data-bs-toggle="modal" data-bs-target="#myModal"
                            (click)="requestEmail(forgotpassform)">Request
                            Password</button>&nbsp;&nbsp;
                        <a [routerLink]="['/login']" routerLinkActive="active">Back To Login</a>


                    </div>
                </div>


            </div>
        </div>

       
        <!-- <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Verify OTP that send to your Mail</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"> <label for="email-for-pass">Enter OTP</label>
                            <input type="text" class="form-control" formControlName="otp" id="email-for-pass"
                                required="" [ngClass]="{'is-invalid': submitted && this.forgotpassform.controls.otp.errors}">
                                <div *ngIf="submitted && formControls.otp.errors?.required" class="text-danger">OTP is required
                                </div>
                               

                        </div>

                    </div>
                    <div class="modal-footer">

                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                            data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-lg btn-primary btn-block" type="submit" data-bs-toggle="modal"
                            data-bs-target="#myModal2" (click)="verifyOTP(forgotpassform)">Verify</button>

                    </div>
                </div>

            </div>
        </div>

        <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog">

               
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Reset your password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"> <label for="email-for-pass">Enter New password</label>
                            <input type="password" class="form-control" formControlName="password" id="email-for-pass"
                                required="">
                            <div *ngIf="formControls['password'].touched && formControls['password'].invalid"
                                class="alert alert-danger"></div>
                            <div *ngIf="formControls['password'].errors && formControls['password'].errors['required']"
                                class="alert alert-danger">Password is Required</div>

                        </div>

                    </div>
                    <div class="modal-body">
                        <div class="form-group"> <label for="email-for-pass">Confirm New password</label>
                            <input type="password" class="form-control" formControlName="cofirmpassword"
                                id="email-for-pass" required="">
                            <div *ngIf="formControls['cofirmpassword'].touched && formControls['cofirmpassword'].invalid"
                                class="alert alert-danger"></div>
                            <div *ngIf="formControls['cofirmpassword'].errors && formControls['cofirmpassword'].errors['required']"
                                class="alert alert-danger">Password is Required</div>
                            <div *ngIf="formControls['cofirmpassword'].errors && formControls['cofirmpassword'].errors['confirmrdValidator']"
                                class="alert alert-danger">Password and confirm password must match </div>

                        </div>

                    </div>
                    <div class="modal-footer">

                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                            data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                            (click)="resetPassword(forgotpassform)">Update</button>

                    </div>
                </div>

            </div>
        </div> -->

    </form>






</div>