<div class="container padding-bottom-3x mb-2 mt-5">
    <form [formGroup]="resetPassform" class="form-signin">
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Reset Password</h1>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">

                <div class="card mt-4">
                    <div class="card-body">
                        <div class="form-group"> <label for="email-for-pass">Enter New password</label>
                            <input type="password" class="form-control" formControlName="password" id="newpass"
                                required="" [ngClass]="{'is-invalid': submitted && this.resetPassform.controls.password.errors}">
                                <div *ngIf="submitted && formControls.password.errors?.required" class="text-danger">*Password is
                                    required</div>
                                <div *ngIf="submitted && formControls.password.errors?.pattern" class="text-danger">*password contain
                                    atleast 6 and upto 10 characters</div>
                           
                        </div>


                        <div class="form-group"> <label for="conpass">Confirm New password</label>
                            <input type="password" class="form-control" formControlName="cofirmpassword"
                                id="email-for-pass" required="" [ngClass]="{'is-invalid': submitted && this.resetPassform.controls.cofirmpassword.errors}">
                                <div *ngIf="submitted && formControls.cofirmpassword.errors?.required" class="text-danger">*Password is
                                    required</div>
                                <div *ngIf="submitted && formControls.cofirmpassword.errors?.pattern" class="text-danger">*password contain
                                    atleast 6 and upto 10 characters</div>
                            

                        </div>


                    </div>
                    <div class="card-footer">
                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                            data-bs-dismiss="modal" [routerLink]="['/login']" routerLinkActive="active">Back to Login</button>
                        <button class="btn btn-lg btn-primary btn-block" style="margin: 10px;" type="submit"
                            (click)="resetPassword(resetPassform)">Update</button>



                    </div>
                </div>


            </div>
        </div>
    </form>
</div> 