<div class="container padding-bottom-3x mb-2 mt-5">
    <form [formGroup]="resetPassform" class="form-signin">
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Reset Password</h1>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">

                <div class="card mt-4">
                    <div class="card-body">
                        <div class="form-group"> <label for="email-for-pass">Enter New password</label>
                            <input type="password" class="form-control" formControlName="password" id="newpass"
                                required="">
                           
                        </div>


                        <div class="form-group"> <label for="conpass">Confirm New password</label>
                            <input type="password" class="form-control" formControlName="cofirmpassword"
                                id="email-for-pass" required="">
                            

                        </div>


                    </div>
                    <div class="card-footer">
                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                            data-bs-dismiss="modal" [routerLink]="['/login']" routerLinkActive="active">Back to Login</button>
                        <button class="btn btn-lg btn-primary btn-block" style="margin: 10px;" type="submit"
                            (click)="resetPassword(resetPassform)">Update</button>



                    </div>
                </div>


            </div>
        </div>
    </form>
</div> 