.login {
    margin: 20rem auto;
    width: 20rem;
}

input {
    margin-bottom: 2rem;
}

button {
    margin-bottom: 2rem;
}

a.active {
    color: white !important;
    mat-icon {
      color: white !important;
    }
  }


