<div class="login">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="changepasswordform" class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>




                <label for="inputPassword" class="sr-only"> Password</label>
                <input type="password" id="pwd" class="form-control" placeholder="new password"
                    formControlName="password"
                    [ngClass]="{'is-invalid': submitted && this.changepasswordform.controls.password.errors}">
                <div *ngIf="submitted && formControls.password.errors?.required" class="text-danger">*Password is
                    required</div>
                <div *ngIf="submitted && formControls.password.errors?.pattern" class="text-danger">*password contain
                    atleast 6 and upto 10 characters</div>



                <label for="inputlogin" class="sr-only">Confirm Password</label>
                <input type="password" id="inputLogin" class="form-control" placeholder="old password"
                    formControlName="old_password"
                    [ngClass]="{'is-invalid': submitted && this.changepasswordform.controls.old_password.errors}">
                <div *ngIf="submitted && formControls.old_password.errors?.required" class="text-danger">*Confirm
                    password
                    is required
                </div>
                <div *ngIf="submitted && formControls.old_password.errors?.pattern" class="text-danger">*password
                    contain
                    atleast 6 and upto 10 characters</div>
                <div
                    *ngIf="changepasswordform.controls['old_password'].dirty && changepasswordform.controls['old_password'].touched && changepasswordform.hasError('mustMatch','old_password')">*both passwords shoud be match
                </div>

                <div class="text-center ">

                    <button [routerLink]="['/user-profile']" routerLinkActive="active" style="margin: 10px;"
                        type="button" class="btn btn-light">Back</button>
                    <button class="btn btn-light" type="submit" style="margin: 10px;"
                        (click)="changePassword()">Update</button>
                </div>


            </form>
        </div>
    </div>
</div>